<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/FlashShop.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Toastify CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link href="//cdn.datatables.net/2.1.3/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/3.2.0/css/buttons.dataTables.css" rel="stylesheet">

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar" id="navbar">
            <div class="header-container">
                <div class="logo">
                    <a href="@Url.Action("Home","Home")" class="text-decoration-none d-flex align-items-center">
                        <img src="~/images/faviconx3.png" alt="Logo Flash Shop" class="logo-img" style="width:50px; height:50px;" />
                        <span class="text-uppercase ms-2">Flashshop</span>
                    </a>
                </div>
                <div class="hotline text-center">
                    <a href="#" class="d-inline-flex align-items-center gap-2 text-decoration-none fw-bold" style="color: red;">
                        <i class="fas fa-phone-alt"></i>
                        HOTLINE: 0378730660
                    </a>
                </div>
                <div class="search-bar">
                    <form class="d-flex">
                        <input placeholder="  Tìm sản phẩm..." type="text" />
                        <button>
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="nav-group-icon justify-content-around">
                    <div class="account">
                        <a href="@Url.Action("Index", "User")">
                            <i class="fa-solid fa-user-large fa-xl"></i>
                            <p style="color:black;">TÀI KHOẢN</p>
                        </a>
                    </div>
                    <div class="shopping-cart">
                        <a href="#">
                            <i class="fa-solid fa-cart-shopping fa-xl"></i>
                            <p style="color:black;">GIỎ HÀNG</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="nav-container">
                <ul class="navbar-con">
                    <li><a href="@Url.Action("Index", "Home", new { area = "" })"> SHOP </a></li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Dashboard")"> TRANG CHỦ</a>
                    </li>
                    <li><a href="@Url.Action("Index", "Book")"> SÁCH </a></li>
                    <li><a href="@Url.Action("Index", "Order")">ĐƠN HÀNG</a></li>
                    <li><a href="@Url.Action("Index", "Home")">GIỚI THIỆU</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @await Html.PartialAsync("_NotificationPartialAdmin")
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-bottom">
            <p><strong>GVHD: Thầy Nguyễn Thiện Dương</strong></p>
            <p></p>
            <p>Bài tập lớn Môn Lập Trình Web. Sử dụng ASP.NET Core 8 MVC.</p>
            <p>Web bán hàng chủ đề bán sách nhiều thể loại tương tự nhà sách</p>
            <p>Nhóm sinh viên thực hiện</p>
        </div>
        <div class="footer-container">
            <div class="footer-section">
                <h4>NHÓM TRƯỞNG</h4>
                <p><strong>Mã số sinh viên: </strong>6351071014</p>
                <p><strong>Họ và tên: </strong> Trần Nguyễn Phi Dương</p>
                <p><strong>Lớp: </strong> Công nghệ thông tin K63</p>
            </div>
            <div class="footer-section">
                <h4>THÀNH VIÊN 1</h4>
                <p><strong>Mã số sinh viên: </strong>6351071005</p>
                <p><strong>Họ và tên: </strong> Trần Quân Bảo</p>
                <p><strong>Lớp: </strong> Công nghệ thông tin K63</p>
            </div>
            <div class="footer-section">
                <h4>THÀNH VIÊN 2</h4>
                <p><strong>Mã số sinh viên: </strong>6351071054</p>
                <p><strong>Họ và tên: </strong> Nguyễn Viết Ái Nhi</p>
                <p><strong>Lớp: </strong> Công nghệ thông tin K63</p>
            </div>
            <div class="footer-section">
                <h4>THÀNH VIÊN 3</h4>
                <p><strong>Mã số sinh viên: </strong>6351071039</p>
                <p><strong>Họ và tên: </strong> Phan Tuấn Kiệt</p>
                <p><strong>Lớp: </strong> Công nghệ thông tin K63</p>
            </div>
        </div>
    </footer>

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Toastify JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- Scripts -->
    <script src="//cdn.datatables.net/2.1.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.0/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.print.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        new DataTable('#myTable', {
            layout: {
                topStart: {
                    buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                }
            }
        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
